@font-face {
  font-family: 'AnkoBold';
  src: url('assets/fonts/AnkoModerat-Bold.woff2') format('woff2'),
    url('assets/fonts/AnkoModerat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnkoCondensedBold';
  src: url('assets/fonts/AnkoModerat-CondensedBold.woff2') format('woff2'),
    url('assets/fonts/AnkoModerat-CondensedBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnkoLight';
  src: url('assets/fonts/AnkoModerat-Light.woff2') format('woff2'),
    url('assets/fonts/AnkoModerat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnkoRegular';
  src: url('assets/fonts/AnkoModerat-Regular.woff2') format('woff2'),
    url('assets/fonts/AnkoModerat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
